{:paths   ["src"]
 :deps    {vlad/vlad {:mvn/version "3.3.2"
                      :optional true}}
 :aliases {:test    {:extra-paths ["test"]}
           :runner  {:extra-deps {io.github.cognitect-labs/test-runner
                                  {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                   :sha     "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
                     :exec-fn    cognitect.test-runner.api/test}
           :release {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
                     :main-opts  ["-m" "applied-science.deps-library"]}}}
