{:paths   ["src"]
 :aliases {:vlad  {:extra-deps {vlad/vlad {:mvn/version "3.3.2"}}}
           :test  {:extra-paths ["test"]}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}}
                   :exec-fn    codox.main/generate-docs
                   :exec-args  {:name         "f-form"
                                :description  "Simple, immutable form management for Clojure(Script)"
                                :source-paths ["src"]
                                :doc-files    ["README.md"]
                                :output-path  "gh-pages"
                                :metadata     {:doc/format :markdown}
                                :source-uri   "https://github.com/mainej/f-form/blob/main/{filepath}#L{line}"}}
           :release {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
                     :main-opts  ["-m" "applied-science.deps-library"]}}}
