{:paths   ["src"]
 :aliases {:vlad  {:extra-deps {vlad/vlad {:mvn/version "3.3.2"}}}
           :test  {:extra-paths ["test"]}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.7"}}
                   :exec-fn    codox.main/generate-docs
                   :exec-args  {:source-paths ["src"]
                                :doc-files    ["README.md"]
                                :metadata     {:doc/format :markdown}
                                :source-uri   "https://github.com/mainej/f-form/blob/master/{filepath}#L{line}"}}}}
