ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.max-w-5xl	{
    max-width: 64rem;
}

.w-4 {
    width: 1rem;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: auto;
}

.gap-1 {
    gap: 0.25rem;
}

@media (min-width: 768px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(2, auto) minmax(0, 1fr);
    }

    .md\:gap-4 {
        gap: 1rem;
    }
}

.invisible {
    visibility: hidden;
}

.space-x-1 > * + * {
    margin-left: 0.25rem;
}

.space-y-1 > * + * {
    margin-top: 0.25rem;
}

.space-y-4 > * + * {
    margin-top: 1rem;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-yellow {
    color: goldenrod;
}
