ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.max-w-md	{
    max-width: 28rem;
}

.flex {
    display: flex
}

.flex-column {
    flex-direction: column
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.invisible {
    visibility: hidden;
}

.space-y-1 > * + * {
    margin-top: 0.25rem;
}

.space-y-4 > * + * {
    margin-top: 1rem;
}

.text-red {
    color: red;
}

.text-yellow {
    color: goldenrod;
}
